<div class="nine offset-by-one columns content">
  <h1>Bootstrap for Backbone.js, Jasmine, Guard, Sinatra and Minitest</h1>
  <p>
    This is a skeleton project used to get up and running with Backbone.js development, backed by a Sinatra application.
  </p>
</div>
<div class="four offset-by-one columns">
  <img src="http://documentcloud.github.com/backbone/docs/images/backbone.png" />
  <img src="http://pivotal.github.com/jasmine/images/jasmine_logo.png" />
  <img src="http://www.sinatrarb.com/images/logo.gif" />
</div>
